[submodule "python/alg/cv/yolov5"]
	path = python/alg/cv/yolov5
	url = https://github.com/ultralytics/yolov5.git
	branch = v6.0
[submodule "yolov5"]
	path = yolov5
	url = https://github.com/ultralytics/yolov5.git
