[submodule "python/alg/cv/yolov5"]
	path = python/alg/cv/yolov5
	url = https://github.com/ultralytics/yolov5.git
[submodule "3rdparty/easydk"]
	path = 3rdparty/easydk
	url = https://github.com/Cambricon/easydk.git
[submodule "tools/trt/tensorrtx"]
	path = tools/trt/tensorrtx
	url = https://github.com/wang-xinyu/tensorrtx.git
[submodule "tools/ov/openvino_notebooks"]
	path = tools/ov/openvino_notebooks
	url = https://github.com/openvinotoolkit/openvino_notebooks.git
[submodule "3rdparty/TensorRT"]
	path = 3rdparty/TensorRT
	url = https://github.com/NVIDIA/TensorRT.git
[submodule "3rdparty/openvino"]
	path = 3rdparty/openvino
	url = https://github.com/openvinotoolkit/openvino.git
